page-home {

}
.titleClass {
  font-size:14px;
  text-align: right;
  margin: 5px;
  border: 0;
  background-color: white;
}
.EXtitleClass {
  font-size:14px;
  background-color:#8492A6;
}
.EXtitleClassText {
  font-size:14px;
  //background-color:#8492A6;
}
.EXbodyClass {
  font-size:13px;
  //background-color:#E0E6ED;
}

.classicButton {
    background-color:#3C4858 !important;
}
