<ion-header>
  <ion-navbar>
    <ion-title>
      RD Alerts
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label color="primary" text-center>Estado</ion-label>
    </ion-item>
    <ion-item>
      <p text-center>{{stats}}</p>
    </ion-item>
    <ion-item>
      <button ion-button full (click)="onClick()">Agregar Dispositivo</button>
    </ion-item>
    <ion-item>
      <ion-label color="primary" text-center>Dispositivos Asociados</ion-label>
    </ion-item>
  </ion-list>

<div class="boxClass">
  <div *ngFor="let dev of devices" class="boxItem" [hidden]="dev.checked">
    <ion-item class="boxHeader"><p class="boxHeaderContent">{{dev.name}} {{dev.checked}}</p></ion-item>

    <ion-item class="boxBody"><p class="boxBodyContent">{{dev.desc}}</p></ion-item>

    <ion-item class="boxFooterItem">
      <div class="boxFooterContent">
        <img src="assets/btncheck.png" alt="" *ngIf="!dev.active" (click)="onCheck(dev.id)">
      </div>
    </ion-item>

    <br>
  </div>
</div>

</ion-content>
